.navbar {
	background-color: white;
	border: none;
	margin-bottom: 40px;
	margin-top: 20px;
}

footer {
	background: white;
	color: black;
}

#signature {
	width: 250px;
}

.form-underlined {
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
}

.edit-div {
	min-height: 150px;
	border: 1px solid #cccccc;
    border-radius: 2px;
}

.jSignature {
	height: 198px !important;
}